@import "variables/variables.scss";
@import "home.scss";



.text-primary-color {
    color: $primary-color !important;
}

.text-secondary-color {
    color: $secondary-color !important;
}

.text-tertiary-color {
    color: $tertiary-color !important;
}

.text-white-color {
    color: $white !important;
}

.bg-primary-color {
    background-color: $primary-color !important;
}

.bg-secondary-color {
    background-color: $secondary-color !important;
}

.bg-tertiary-color {
    background-color: $tertiary-color !important;
}

.bg-white {
    background-color: $white !important;
}

h1 {
    font-size: 60px !important;
}

h2 {
    font-size: 50px !important;
}

h3 {
    font-size: 40px !important;
}

h4 {
    font-size: 30px !important;
}

h5 {
    font-size: 22px !important;
}

h6 {
    font-size: 16px !important;
}

p {
    font-size: 16px;
    color: $tertiary-color;
}

@media (max-width: '768px') {
    h1 {
        font-size: 45px !important;
    }
    
    h2 {
        font-size: 35px !important;
    }
    
    h3 {
        font-size: 25px !important;
    }
    
    h4 {
        font-size: 20px !important;
    }
}

a {
    text-decoration: none !important;
}

.btn-main {
    padding: 10px 25px;
    background-color: $secondary-color;
    color: $white;
    transition: .3s ease;
    font-weight: 500;
    border: 1px solid $secondary-color;
    cursor: pointer;
}

.btn-secondary {
    padding: 10px 25px;
    background-color: $white;
    color: $secondary-color;
    transition: .3s ease;
    font-weight: 500;
    border: 1px solid $secondary-color;
    cursor: pointer;
}

.addToCartBtn {
    padding: 5px 20px;
    background-color: $secondary-color;
    color: $white;
    transition: .3s ease;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color:  $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;
}

.btn-main:hover {
    background-color: $white;
    color: $secondary-color;
    border: 1px solid $secondary-color;
}

.link-view {
    border-bottom: 2px solid $secondary-color;
    cursor: pointer;
}

.product_card:hover .addToCartBtn{
     
    bottom: 0px !important;
    
}

.cursor-pointer {
    cursor: pointer;
}

.navbar-nav a {
    color: $secondary-color !important;
}