
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$primary-color:  #1d1d1d;
$secondary-color: #f6aa28;
$light-color: #979a9b;
$white: #fff;
$primary-font: "Roboto";
$secondary-font: "Dancing Script"